@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.poppins-regular {
    font-family: "Poppins", sans-serif;
}

.hammersmith-one-regular {
    font-family: "Hammersmith One", sans-serif;
}

.texto-azul {
    color: #5270AA;
}

.texto-rosa {
    color: #FF4397;
}

.texto-violeta {
    color: #8952A9;
}

.texto-naranja {
    color: #FCC24D;
}

.texto-grande {
    font-size: 25px;
}

.texto-mediano {
    font-size: 20px;
}